.container {
  /* display: flex; */
  margin-left: 70px;
  margin-top: 25px;
  margin-bottom: 50px;
  gap: 30px; 
  /* border: 1px solid black; */
  width: 750px;
}

.title{
  font-weight: 600;
  font-size: 24px;
  color: #b91212;
}

.btnGoBack {
  margin: 60px;
  padding: 6px 6px;
  font: inherit;
  cursor: pointer;
  border-radius: 4px;
  color: #191d1e;
  font-weight: 600;
  font-size: 18px;
  border-radius: 4px 4px;
  transition: all 250ms;

  &:hover {
    color: #b91212;
    border: 1px solid #b91212;
}
}

.list {
  list-style: inside;
}

.item {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: #191d1e;
  transition: all, 250ms;

  &:hover {
    color: #b91212; 
}
}