.container {
    display: flex;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 50px;
    gap: 30px; 
    border: 1px solid black;
    width: 750px;
    padding-right: 20px;
  }
  
  .list {
    list-style: none;
  }
  